body {
  margin: 5px;
  background-color: gainsboro;
}
.container {
  display: flex;
}
.container > section {
  width: 66%;
  background-color: white;
}
.container > section.side-section {
  width: 15%;
  background-color: white;
  min-width: 160px;
}
.side-section.records,
.mini-records {
  margin-right: 10px;
}
.side-section.annotations,
.mini-annotations {
  margin-left: 10px;
}
.section-head,
.ham-btn {
  display: flex;
  align-items: center;
}
.ham-btn {
  display: flex;
}
.side-section-head {
  justify-content: space-between;
  border: solid 1px black;
}
.section-head {
  background-color: blueviolet;
  color: white;
  padding: 10px 5px;
}
.section-head > h3 {
  margin: 0;
}
.record-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: solid 1px black;
  padding: 10px 5px;
  background-color: plum;
  cursor: pointer;
}
.record-item-selected {
  background-color: white;
}
.input-text-container {
  padding: 10px;
}
.annotation.highlight {
  background-color: yellow;
}
.mini-side {
  background-color: blueviolet;
  writing-mode: vertical-lr;
  text-orientation: upright;
  display: flex;
  align-items: center;
  color: white;
  padding: 5px;
  justify-content: center;
  height: 80vh;
  width: 30px;
  cursor: pointer;
}
.mini-side > .ham-btn {
  position: absolute;
  top: 10px;
  left: 10px;
}
.section-main {
  flex-grow: 2;
}